@font-face {
    font-family: "Minecraftia";
    src: url("minecraftia.woff");
}

/* General body styles */
body {
    font-family: "Minecraftia", sans-serif;
    background-image: url("assets/dirt.png");
    background-size: 52px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Tree structure grid */
.advancements-tree {
    display: grid;
    grid-template-columns: repeat(20, 25px); /* Adjusted grid size to reduce spacing */
    grid-auto-rows: 25px;
    grid-gap: 1px;
    position: relative;
    padding: 10px;
}

/* Challenges */
.challenge {
    width: 52px;
    height: 52px;
    background-image: url("assets/challenge.webp");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Place lines below challenges */
}

.challenge.completed {
    background-image: url("assets/challenge_completed.webp");
}

/* Individual advancements */
.advancement {
    width: 52px;
    height: 52px;
    background-image: url("assets/advancement.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Place lines below advancements */
}

.advancement img {
    width: 30px;
    height: 30px;
    pointer-events: none;
    user-select: none;
}

.challenge img {
    width: 30px;
    height: 30px;
    pointer-events: none;
    user-select: none;
}

/* Completed advancements */
.advancement.completed {
    background-image: url("assets/advancement_completed.png");
}

/* Connection lines */
.line {
    background-color: white;
    border-color: black;
    border: solid 2px;
    position: absolute;
    z-index: 1; /* Place lines below advancements */
}

.line.horizontal {
    height: 2px;
    width: 51px;
    top: 25px;
}

.line.vertical {
    width: 2px;
    height: 52px;
    left: 24px;
}

/* Tooltip */
.tooltip {
    position: absolute;
    color: #fff9d4;
    font-size: 12px;
    padding: 0;
    border-radius: 4px;
    border: 1px solid black;
    z-index: 50;
    display: none;
    pointer-events: none;
    white-space: normal;
    width: fit-content;
    max-width: 250px;
    background: rgba(18, 18, 18, 0.9); /* General background */
    user-select: none;
}

/* Split the tooltip into two halves */
.tooltip .title {
    background-color: #016997;
    color: #f4f8f5;
    padding: 6px;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding-left: 56px;
    margin: 0;
    text-shadow: 1.5px 1.5px 0 rgba(0, 0, 0, 0.5);
}

.tooltip.challenge .description {
    color: #a800a8;
}

.tooltip .description {
    color: #7ae976;
    background-color: rgba(34, 32, 34, 255);
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    padding: 6px;
    padding-bottom: 3px;
    border-radius: 0 0 4px 4px;
    margin: 0;
}

/* Tooltip completed (for completed advancement) */
.tooltip.completed .title {
    background: rgb(186, 144, 42);
}